//- Basic layout jade file

doctype html
html
  head
    title MIND
    
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link#mind-favicon(href="/images/favicon.ico", rel="shortcut icon", type="image/x-icon")

    // Styles
    link(rel='stylesheet', href='/external/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/external/bootstrap/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/styles/styles.css')

    // Scripts
    script(type='text/javascript', src='/external/jquery-2.1.3.min.js')
    script(type='text/javascript', src='/external/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/external/lunr.min.js')
    script(type='text/javascript', src='/external/sjcl.js')
    script(type='text/javascript', src='/internal/shared-front.js')
    script(type='text/javascript', src='/internal/mind-front.js')

    block head

  body(data-user="#{current_user ? current_user.email : undefined}")
    nav#menu.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href="#") Mind
          - if (current_user)
            a.navbar-brand(href="/logout")  (#{current_user.email})
          - else
            a.navbar-brand(href="/login") Login
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav#memory-operators

      block menu
    #notifications
      block notifications
    #content.container(data-system-environment="#{process.env.NODE_ENV || 'development'}")
      block content

    //- Custom micro templates
    script#notification_tmpl(type="text/html")
      .mind-notification.alert.alert-info(id="{$id}") {$message}

    .modal.fade#login-window
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &times;
            h4.modal-title Login here
          .modal-body
            p.login-body BODY
          .modal-footer
            button.btn.btn-default(type="button", data-dismiss="modal") Close


