script#notification_tmpl(type="text/html")
  .mind-notification.alert.alert-info(id="{$id}") {$message}

script#memory_fragments_list_tmpl(type="text/html")
  .list-group-item#memory-fragments-label {$label}
  #memory-fragments-list

script#memory_fragment_tmpl(type="text/html")
  .mind-fragment.list-group-item(id="fragment_{$id}", data-fragment-id="{$id}") 
    .mind-fragment-operators.btn-group.btn-group-sm(role="group")
      button.mind-fragment-forget.btn.btn-default(style="display:{$memorized?'block':'none'};", aria-label="Left Align")
        span.glyphicon.glyphicon-star-empty(aria-hidden="true")
        |  Forget
      button.mind-fragment-remember.btn.btn-default(style="display:{$memorized?'none':'block'};", aria-label="Left Align")
        span.glyphicon.glyphicon-star(aria-hidden="true")
        |  Remember
      button.mind-fragment-remove.btn.btn-default(aria-label="Left Align")
        span.glyphicon.glyphicon-remove(aria-hidden="true")
        |  Remove
      button.note-switch.btn.btn-default(aria-label="Left Align")
        span.glyphicon.glyphicon-plus(aria-hidden="true")
        |  Notes
      button.mind-fragment-repath.btn.btn-default.dropdown-toggle(aria-label="Left Align", data-toggle="dropdown")
        span.glyphicon.glyphicon-option-horizontal(aria-hidden="true")
        |  {$path_name} &nbsp;
        span.caret
        span.sr-only Toggle Dropdown
      ul.dropdown-menu
        | {$path_options}

    .mind-fragment-updated-time.righter(data-updated="{$updated_at}") {$updated_at_f}
    .clearer
    .mind-fragment-text.full-text {$text}
    .clearer
    .mind-fragment-notes(style="display:{$note_count?'block':'none'}")
      | {$note_options}
      .mind-fragment-note-creator(data-parent-id="{$id}", style="display: none;")
        .clearer
        textarea.form-control.expandable.note-text-input(rows="1", placeholder="Note text...", style="font-size: 90%;")
        .clearer
        button.btn.btn-primary.btn-sm.note-submit-button(aria-label="Left Align") Add
        button.btn.btn-link.btn-sm.note-cancel-button(aria-label="Left Align") Cancel      

script#memory_fragment_note_creator_tmpl(type="text/html")
  .mind-fragment-note-creator(data-parent-id="{$id}")
    textarea.form-control.expandable.note-text-input(rows="1", placeholder="Note text...", style="font-size: 90%;")
    .clearer
    button.btn.btn-primary.btn-sm.note-submit-button(aria-label="Left Align") Add
    button.btn.btn-link.btn-sm.note-cancel-button(aria-label="Left Align") Cancel

script#memory_fragment_path_selection_tmpl(type="text/html")
  li
    a.fragment-path-option(href="#", data-path="{$path_key}", data-path-index="{$path_index}") {$path_name}
    
script#memory_fragment_note_tmpl(type="text/html")
  .mind-fragment-note-text(data-note-id="{$id}") 
    mark {$updated_at_f}
    span  {$text}
    .clearer

script#memory_fragments_extract_tmpl(type="text/html")
  li#memory-extract
    a#memory-extract-link(href="#") Extract ({$count})

script#memory_wipe_tmpl(type="text/html")
  li#memory-wipe
    a#memory-wipe-link(href="#") Clean


script#memory_path_selection_tmpl(type="text/html")
  select#memory-path-select.form-control

script#memory_path_select_option_tmpl(type="text/html")
  option(value="{$key}") {$name}

script#extraction_input_tmpl(type="text/html")
  label Encryption password (Leave empty for no encryption)
    input#extraction-password.form-control(type="password")
  p.small#extraction-password-requirements.full-text {$password_requirements} 
  .clearer
  label Select storage option
    select#extraction-target-select.form-control
      option(value="local", selected) Download (local)
      option(value="remote_mind", style="display:{$remote_mind?'block':'none'};") This site
      option(value="remote_dropbox", style="display:{$remote_dropbox?'block':'none'};") Remote (Dropbox)

script#path_creation_input_tmpl(type="text/html")
  .input-group
    input.form-control#path-component-input(type="text", placeholder="(eg: information)")
    span.input-group-btn
      button.btn.btn-default#path-component-confirm(disabled) Add
  .clearer
  ul#mind-path-components.nav.nav-pills

script#new_path_component_tmpl(type="text/html")
  li(role="presentation").active.mind-path-component
    a(href="#") {$name}

script#extraction_input_tmpl(type="text/html")
  label Encryption password (Leave empty for no encryption)
    input#extraction-password.form-control(type="password")
  p.small#extraction-password-requirements.full-text {$password_requirements} 
  .clearer
  label Select storage option
    select#extraction-target-select.form-control
      option(value="local", selected) Download (local)
      option(value="remote_mind", style="display:{$remote_mind?'block':'none'};") This site
      option(value="remote_dropbox", style="display:{$remote_dropbox?'block':'none'};") Remote (Dropbox)


script#profile_input_tmpl(type="text/html")
  h4 Remote storage options (Dropbox)
  label Storage key
    input#mind-storage-key.form-control(type="text", value="{$storage_key}")
  .clearer
  label Storage secret
    input#mind-storage-secret.form-control(type="text", value="{$storage_secret}")

script#load_input_tmpl(type="text/html")
  p.small Content loaded from selected source will be merged with current content. If you wish, you can clean memory first.
  label Select source
    select#load-source-select.form-control
      option(value="local", selected) Upload (local)
      option(value="remote_mind", style="display:{$remote_mind?'block':'none'};") This site
      option(value="remote_dropbox", style="display:{$remote_dropbox?'block':'none'};") Remote (Dropbox)
  .clearer
  input.form-control#load-source-file(type="file")

script#modal_dialog_tmpl(type="text/html")
  .modal.fade(id="{$modal_id}")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title {$title}
        .modal-body
          p {$body}
        .modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") Close
          button.btn.btn-primary(id="{$button_id}") {$button_label}

a#local-download(href="#", style="display: none;") Download