//- home.jade

extends ../layout

block content

  .jumbotron
    textarea#memory-fragment-input.form-control(rows="3", placeholder="Text comes here...")
    .clearer
    #memory-path-selection-container
    .clearer
    button#memory-submit.btn.btn-lg.btn-primary Add
  .clearer
  #memory-fragments-container

  include _home_templates