//- home.jade

extends ../layout

block content
  .jumbotron(style='padding: 4rem 2rem;')
    textarea#memory-fragment-input.form-control.expandable(rows="3", placeholder="Text comes here...")
    .clearer
    button#memory-submit.btn.btn-primary.lefter Add
    .clearer
    .input-group
      #memory-path-selection-container.righter
      span.input-group-btn
        button.btn.btn-secondary#memory-path-new New path
  .input-group#memory-search-operators
    span.input-group-btn
      button.btn.btn-secondary#memory-search-all Search all paths
    input#memory-search.form-control(type="text", placeholder="Search...")
    span.input-group-btn
      button.btn.btn-secondary#memory-display-forgotten Include forgotten
  #memory-fragments-container.list-group

  include _home_templates