//- home.jade

extends ../layout

block content

  .jumbotron
    textarea#memory-fragment-input.form-control(rows="3", placeholder="Text comes here...")
    .clearer
    button#memory-submit.btn.btn-primary.lefter Add
    #memory-path-selection-container.righter
    .clearer
  input#memory-search.form-control(type="text", placeholder="Search...", style="display:none;")
  .clearer
  #memory-fragments-container

  include _home_templates