.clearer, .spacer {
  clear: both;
  width: 100%;
  height: 1em;
}

.liner {
  clear: both;
  width: 100%;
  height: 1px;
}

.offset-right {
  margin-right: .5em;
}

.offset-left {
  margin-left: .5em;
}

.full-text {
  white-space: pre-line;
}
