body {
  padding-top: 70px;
}

.clearer {
  clear: both;
  width: 100%;
  height: 1em;
}

.lefter {
  float: left;
}

.righter {
  float: right;
}

.mind-fragment {
  padding: 1em;
  border: 1px solid #ccc;
  margin-top: 1em;
}

#memory-path-selection-container {
  width: 50%;
}